header{
  background-color:#f15b31;
  color: #ffffff;
  padding: 30px 20px;
}
nav{
  background-color: #00a6b3;
  font-color:#ffffff;
  padding: 20px
}
main{
  width: 850px;
  margin: 35px auto;
}
img{
  margin: 40px 8px 0 8px;
}
h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1PX;
font-weight: 400;
font-size: 45PX;
margin: 0;
}
h2{
  font-family: "Raleway",sans-serif;
  color: #f15b31;
  letter-spacing: 600;
  font-size: 18PX;
}
h3{
  font-family: "Raleway",sans-serif;
  color: #0D2C40;
  letter-spacing:1px;
font-weight: 600;
font-size: 20;
}

.main {
  font-family: "Droid Serif", serif;
border: 4px ;
text-align: center;

}
body {
text-align: center;

}
footer{
text-transform: uppercase;
padding: 20px;
background-color: #0d2c40;
color: white;
font-size: 14px;
letter-spacing: .08em;
font-weight: 500;
}
.Copyright{
  float: left;
}
.message{
  float: right;
}

.clearfix:after{
  visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
  color: f15b31;
  font-weight: 700;
}
a{
  border-bottom: 2px solid transparent;
}
a:hover {
border-color: white;
background-color: red;
}
